# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-shebang-scripts-are-executable
  - id: check-executables-have-shebangs
  - id: requirements-txt-fixer
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
  - id: shellcheck
  - id: shfmt
- repo: https://github.com/hadolint/hadolint
  rev: v2.14.0
  hooks:
  - id: hadolint
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.1
  hooks:
  - id: check-github-workflows
  - id: check-github-actions
- repo: https://github.com/wemake-services/dotenv-linter
  rev: 0.7.0 # Use the ref you want to point at
  hooks:
  - id: dotenv-linter
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
  - id: shellcheck
  - id: shfmt
