arch
bcolz-zipline @ git+https://github.com/stefan-jansen/bcolz-zipline.git@main
bottleneck
hurst
ib_insync
ipympl
ipywidgets
jedi-language-server
jupyterlab
jupyterlab_widgets
jupyterlab-lsp
matplotlib
numba
numexpr
numpy
pandas
py_vollib
py_vollib_vectorized
pyfolio-reloaded
pykalman @ git+https://github.com/gnzsnz/pykalman.git@getargspec
pymc
PyPortfolioOpt
pystore
pytensor
quantstats @ git+https://github.com/gnzsnz/quantstats-cagr.git@cagr
scikit-learn
scipy
seaborn
statsmodels
yfinance
zipline-reloaded
